[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
crispy-bootstrap5 = "*"
django = "==4.2.7"
rabbitmq = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.12"
